################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/scripts/azure/AzureDiskResizer
/scripts/azure/azcopy.exe
*.log
